<!-- Content-->
<div class="md-content">
<!-- Section -->
  <%= render "section" %>
<!-- End / Section -->
<!-- Section -->
<section class="awe-section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 ">
        <!-- title -->
        <div class="title">
          <h2 class="title__title"><%= raw t"content.welcome" %></h2>
          <p class="title__text"><%= t"content.content" %></p>
        </div><!-- End / title -->
      </div>
      <div class="col-md-12 col-lg-12 ">
        <div class="grid-css grid-css--masonry" data-col-lg="4" data-col-md="3" data-col-sm="2" data-col-xs="1" data-gap="30">
          <div class="grid__inner">
            <div class="grid-sizer"></div>
            <div class="grid-item">
              <div class="grid-item__inner">
                <div class="grid-item__content-wrapper">
                  <!-- box-image -->
                  <div class="box-image" href="/images/image_box_1/1.jpg">
                    <div>
                      <%= link_to "/images/image_box_1/1.jpg", class: "box-image__bg", style: "background-image: url('/images/image_box_1/1.jpg');", "data-effect": "mfp-zoom-in" do %>
                      <%= image_tag "/images/image_box_1/1.jpg" %>
                      <div class="box-image__info">
                        <h4 class="box-image__country">Hong Kong</h4>
                        <p class="box-image__tour">309</p>
                      </div>
                      <% end %>
                    </div>
                  </div><!-- End / box-image -->
                </div>
              </div>
            </div>
            <div class="grid-item">
              <div class="grid-item__inner">
                <div class="grid-item__content-wrapper">
                  <!-- box-image -->
                  <div class="box-image" href="/img/image_box_1/2.jpg">
                    <div>
                     <%= link_to "/images/image_box_1/2.jpg", class: "box-image__bg", style: "background-image: url('/images/image_box_1/2.jpg');", "data-effect": "mfp-zoom-in" do %>
                     <%= image_tag "/images/image_box_1/2.jpg" %>
                     <div class="box-image__info">
                      <h4 class="box-image__country">Istanbul</h4>
                      <p class="box-image__tour">287</p>
                    </div>
                    <% end %>
                  </div>
                </div><!-- End / box-image -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- End / Section -->
<!-- Section -->
<section class="awe-section">
  <div class="container">
    <!-- title -->
    <div class="title title__style-02">
      <h2 class="title__title"><%= t("content.best_tour") %></h2>
    </div><!-- End / title -->
    <div class="grid-css grid_css_style_02 grid-css--masonry" data-col-lg="3" data-col-md="2" data-col-sm="2" data-col-xs="1" data-gap="30">
      <div class="filter">
        <ul class="filter__list">
          <li><%= link_to "All", "#" %></li>
          <li><%= link_to "Destination", "#" %></li>
          <li><%= link_to "Style Travel", "#" %> </li>
        </ul>
      </div>
      <div class="grid__inner">
        <div class="grid-sizer"></div>
        <div class="grid-item cat1">
          <div class="grid-item__inner">
            <div class="grid-item__content-wrapper">

              <!-- box-image2 -->
              <div class="box-image2">
                <div>
                  <%= link_to "#", class: "box-image2__bg", style: "background-image: url('/images/image_box_2/1.jpg');" do%><%= image_tag "/images/image_box_2/1.jpg" %>
                  <% end %>
                  <div class="box-image2__info">
                    <p class="box-image2__country">Siem Reap</p>
                    <p class="box-image2__tour">The Mekong Boutique River Cruise: Laos to China</p>
                  </div>
                  <div class="box-image2__info_bot">
                    <span class="box-image2__date">7 Days / 8 Nights</span>
                    <%= link_to "View tour", "#", class: "box-image2__view" %>
                  </div>
                </div>
              </div><!-- End / box-image2 -->

            </div>
          </div>
        </div>
        <div class="grid-item cat2">
          <div class="grid-item__inner">
            <div class="grid-item__content-wrapper">

              <!-- box-image2 -->
              <div class="box-image2">
                <div>
                  <%= link_to  "#", class: "box-image2__bg", style: "background-image: url('/images/image_box_2/2.jpg');" do %><%= image_tag "/images/image_box_2/2.jpg" %>
                  <% end %>
                  <div class="box-image2__info">
                    <p class="box-image2__country">Hong Kong</p>
                    <p class="box-image2__tour">Classic Vietnam from Ho Chi Minh City</p>
                  </div>
                  <div class="box-image2__info_bot">
                    <span class="box-image2__date">7 Days / 8 Nights</span>
                    <%=link_to "View tour", "#", class: "box-image2__view" %>
                  </div>
                </div>
              </div><!-- End / box-image2 -->
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <%= link_to t("content.explore_more"), "#", class: "md-btn mt-60 md-btn--primary md-btn--pill"  %>
      </div>
    </div>
  </section>
  <!-- End / Section -->
  <div class="container">
    <!-- Section -->
    <section class="awe-section awe-skin-dark bg-fixed style-03" style="background-image:url(/images/bg/3.jpg);">
      <!-- title -->
      <div class="title title__style-03">
        <h5 class="title__title_small">Holyweek Promo 2018</h5>
        <h2 class="title__title">Dubai & Maldives Vacation incl. Airfare</h2>
        <p class="title__text">Travel Blocking Period: March 28-30 or March 29-April 01, 2018 <br />Booking Period: Limited Seats <br />Hotel: Fragrance Imperial or similar class<br />Airlines: Via Cebupacific</p>
      </div><!-- End / title -->
    </section>
    <!-- End / Section -->
  </div>
  <!-- Section -->
  <section class="awe-section">
    <div class="container">
      <!-- title -->
      <div class="title title__style-02">
        <h2 class="title__title"><%= t"content.our_tour" %></h2>
      </div><!-- End / title -->

      <div class="grid-css grid_css_style_02 grid-css--masonry" data-col-lg="2" data-col-md="2" data-col-sm="1" data-col-xs="1" data-gap="30">
        <div class="filter">
          <ul class="filter__list">
            <li><%link_to "All", "#", "data-filter": ".cat1" %></li>
          </ul>
        </div>
        <div class="grid__inner">
          <div class="grid-sizer"></div>
          <div class="grid-item cat1 cat4">
            <div class="grid-item__inner">
              <div class="grid-item__content-wrapper">
                <!-- box-image3 -->
                <div class="box-image3">
                  <div class="box-image3__box">
                    <%= link_to "#", class: "box-image3__bg", style: "background-image: url('/images/image_box_3/1.jpg');" do %>
                    <%= image_tag "/images/image_box_3/1.jpg" %>
                    <% end %>
                    <div class="box-image3__info">
                      <p class="box-image3__country">Singapore</p><span class="box-image3__date">7 Days / 8 Nights</span>
                    </div>
                  </div>
                  <div class="box-image3__info_right">
                    <h6 class="box-image3__tour">
                      <%= link_to "Maldives Escape incl. Airfare" ,"#" %>
                    </h6>
                    <p class="box-image3__text">Nam suscipit nisi risus, et porttitor metus molestie a. Phasellus id quam id tur</p>
                    <%=link_to "View tour", "#", class: "box-image3__view" %>
                  </div>
                </div><!-- End / box-image3 -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End / Section -->
</div>
<div class="swiper-button-custom">
  <div class="swiper-button-prev-custom"></div>
  <div class="swiper-button-next-custom"></div>
</div>
</div><!-- End / swiper__module swiper-container -->
<!-- swiper__module swiper-container -->
<div class="swiper__module swiper-container sec-partner" data-options='{"slidesPerView":6,"breakpoints":{"320":{"slidesPerView":2},"640":{"slidesPerView":3},"768":{"slidesPerView":5},"1024":{"slidesPerView":6}}}'>
  <div class="swiper-wrapper">
    <!--  -->
    <div><%= link_to image_tag("/images/brand/6.png"), "#" %>
    </div><!-- End /  -->

  </div>
  <div class="swiper-button-custom">
    <div class="swiper-button-prev-custom"></div>
    <div class="swiper-button-next-custom"></div>
  </div>
</div><!-- End / swiper__module swiper-container -->

</div>
</section>
<!-- End / Section -->
</div>
<!-- End / Content-->
