<div class="containers">
  <article class="product-corporate">
    <figure class="product-corporate-figure">
      <%= image_tag "/#{@tour.image}", class: "product-corporate-image" %>
    </figure>
    <div class="product-corporate-main offset-top-35">
      <h2><%= @tour.name %></h2>
      <div class="product-corporate-info">
        <p><%= t("tour.route") %><%= @tour.route %></p>
      </div>
      <table class="product-corporate-meta">
        <tbody>
        <tr>
          <td><%= t("tour.time") %></td>
          <td><%= @tour.start_tour.strftime t("tour.fomat_date") %><%= t("to") %>
        <%= @tour.end_tour.strftime t("tour.fomat_date") %></td>
        </tr>
        <tr>
          <td><%= t("tour.start_palace") %></td>
          <td><%= @tour.start_palace %></td>
        </tr>
        <tr>
          <td><%= t("tour.end_palace") %></td>
          <td><%= @tour.end_palace %></td>
        </tr>
        <tr>
          <td><%= t("tour.transport") %></td>
          <td><%= @tour.transport %></td>
        </tr>
        <tr>
          <td><%= t("tour.quantity") %></td>
          <td><%= @tour.quantity %></td>
        </tr>
        <tr>
          <td><%= t("tour.category") %></td>
          <td><%= @tour.category.name %></td>
        </tr>
        <tr>
          <td><%= t("tour.status") %></td>
          <td><%= @status %> <%= t("tour.slot") %></td>
        </tr>
        </tbody>
      </table>
      <div class="product-corporate-group group group-middle">
        <p class="product-corporate-price heading-3"><%= t("dola")%><%= @tour.price %></p>
        <div><%= link_to t("tour.book_tour"), book_tour_path, class: "button button-lg button-primary" %></div>
      </div>
    </div>
  </article>
  <div class="comment">
    <br>
    <h4><%= @tour.comments.count %> <%= t("comment.cout") %></h4>
    <%= render @tour.comments %>
    <h3><%= t("comment.review") %></h3>
    <%= render "comments/form" %>
  </div>
</div>
