<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><%= t("admin.title") %></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("admin.user.title"), admin_users_path %></li>
        <li><%= link_to t("admin.category"), "#" %></li>
        <li><%= link_to t("admin.tour"), "#" %></li>
        <li><%= link_to t("admin.review.title"), admin_reviews_path %></li>
        <li><%= link_to t("admin.profile"), "#" %></li>
        <li><%= link_to t("admin.logout"), "#" %></li>
      </ul>
    </div>
  </div>
</div>
