<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active">
          <li><%= link_to t("admin.dashboard"), admin_root_path %></li>
        </li>
        <li><%= link_to t("admin.user.title"), admin_users_path %></li>
        <li><%= link_to t("admin.destination"), admin_tours_path %></li>
        <li><%= link_to t("admin.international"), "#" %>
        <li><%= link_to t("admin.tour"), "#" %></li>
        <li><%= link_to t("admin.review.title"), admin_reviews_path %></li>
    </div>
  </div>
</div>
