<% provide :title, t("admin.user.title") %>
<body>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= t("admin.user.title") %></h1>
    </div>
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="btn-group">
      <div class="row">
        <div class="navbar-form navbar-right">
          <%= form_tag admin_users_path do %>
            <%= label_tag :name %>
            <%= text_field_tag :name %>
            <%= submit_tag t("admin.review.search"), class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= t("admin.user.id") %></th>
            <th><%= t("admin.user.name") %></th>
            <th><%= t("admin.user.gendor") %></th>
            <th><%= t("admin.user.dob") %></th>
            <th><%= t("admin.user.address") %></th>
            <th><%= t("admin.user.phone") %></th>
            <th><%= t("admin.user.role") %></th>
            <th><%= t("admin.user.action") %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @users %>
        </tbody>
        <%= will_paginate %>
      </table>
    </div>
  </div>
</body>
