<!-- header -->
<header class="header awe-skin-dark header--fixed">
  <div class="container-fluid pd-0">
    <div class="header__inner">
      <div class="header__logo_menu_wrap">
        <div class="header__logo">
          <%= link_to image_tag("/images/logo-framgia.png"), root_path %>
        </div>
        <div class="header__menu">
          <!-- onepage-nav -->
          <nav class="onepage-nav">
            <!-- onepage-menu -->
            <ul class="onepage-menu">
              <li class="current-menu-item">
                <%= link_to t("home.title"), root_path %></li>
                <li><%= link_to t("home.tour"), tours_path %></li>
                <li><%= link_to t("home.about") %></li>
                <% if user_signed_in? %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <%= t("user.account") %><b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li class= "color"><%= link_to t("user.profile"), current_user %></li>
                      <li><%= link_to t("user.settings"), edit_user_path(current_user) %></li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to t("user.log_out"), destroy_user_session_path,
                          method: :delete %>
                      </li>
                    </ul>
                  </li>
                <% else %>
                  <li><%= link_to t("user.log_in"), new_user_session_path %></li>
                <% end %>
              </ul><!-- onepage-menu -->
              <div class="navbar-toggle">
                <span></span><span></span><span></span></div>
              </nav><!-- End / onepage-nav -->

            </div>
          </div>
          <div class="header__hotline_book_wrap">
                <div class="header__hotline"><span><i class="fa fa-phone"></i>
                  <%= t "home.hotline" %></span>
                  <%= t "home.phone" %></div>
                  <div class="header__booking">
                    <%= link_to t("home.booking"), tours_path, class: "md-btn md-btn--primary md-btn--pill" %>
                  </div>
                </div>
              </div>
            </div>
          </header><!-- End / header -->
          <div class="swiper__module swiper-container awe-skin-dark hero__main_slider" data-options='{"spaceBetween":0}'>
            <div class="swiper-wrapper">
              <div class="hero__item" style="background-image: url('/images/hero/1.jpg');"><%= image_tag "/images/hero/1.jpg" %>
                <div class="hero__box_info">
                  <div class="container">
                    <h2 class="hero__title">Vibrant Hong Kong: 3 Day</h2>
                    <p class="hero__info"><span>3 Day 2 Night</span><span>Tokyo</span><span>709 Review</span></p>
                  </div>
                </div>
              </div>
              <div class="hero__item" style="background-image: url('/images/hero/2.jpg');"><%= image_tag "/images/hero/2.jpg" %>
                <div class="hero__box_info">
                  <div class="container">
                    <h2 class="hero__title">Splendours of India: Holiday of a Lifetime</h2>
                    <p class="hero__info"><span>3 Day 2 Night</span><span>Beijing</span><span>780 Review</span></p>
                  </div>
                </div>
              </div>
              <div class="hero__item" style="background-image: url('/images/hero/3.jpg');"><%= image_tag "/images/hero/3.jpg" %>
                <div class="hero__box_info">
                  <div class="container">
                    <h2 class="hero__title">Discover Hong Kong and Bangkok incl. Airfare</h2>
                    <p class="hero__info"><span>3 Day 2 Night</span><span>Nara</span><span>746 Review</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-button-custom">
              <div class="swiper-button-prev-custom"></div>
              <div class="swiper-button-next-custom"></div>
            </div>
          </div>
